body, html {
  height: 100%;
}

body {
  background-image: url('sokrat.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a:hover{
  text-decoration: none;
}


#header a {
  text-transform: uppercase;
  font-family: 'Germania One', cursive;
  font-size: 130px;
  opacity: 0.5;
  color: #1F1D1D;
  margin-top: 0px !important;
}


p {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
  opacity: 1.0;
  color: rgb(2, 1, 1);
  padding: 20px;

}

#aphorism {
  background-color: gray;
  opacity: 0.6;
  border-radius: 25px;
  margin: 0px;
}

#author a {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  text-align: right;
  opacity: 1.0;
  color: rgb(2, 1, 1);
  padding-bottom: 6px;
  padding-right: 20px;
}

#author {
  text-align: right;
}


footer {
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
}

p#footer {
  font-size: 20px;
}

#basic_aphorism {
  margin-top: 90px;
}

#panel {
  opacity: 0.4;
}

#navbar {
  margin-bottom: 0;
}

div.navbar-header {
  text-transform: uppercase;
  font-family: 'Germania One', cursive;
}

input#search{
  font-family: 'Lobster', cursive;
  font-size: 21px;
}

button#search {
  font-family: 'Lobster', cursive;
  font-size: 14px;

}

h2#search_result {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

.linkable:hover{
  background-color: rgb(175, 169, 169);
  /* opacity: 0.6; */
  /*display: inline-block;*/
}

#content {
  border-radius: 25px;
}

