body {
  /* min-height: 100%; */
  margin:0;
  padding:0;
  background-image: url('sokrat.jpg');
  /* background-position: center !important; */
  background-repeat: no-repeat;
  background-size: cover;
}

a:hover{
  text-decoration: none;
}


#header a {
  text-transform: uppercase;
  font-family: 'Germania One', cursive;
  font-size: 130px;
  opacity: 0.5;
  color: #1F1D1D;
  margin-top: 0px !important;
}


 p {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  text-align: left;
  opacity: 1.0;
  color: rgb(2, 1, 1);
  padding: 20px;

}

#aphorism {
  background-color: gray;
  opacity: 0.6;
  border-radius: 25px;
  margin: 0px;
}

#author {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-align: right;
  opacity: 1.0;
  color: rgb(2, 1, 1);
  padding-bottom: 6px;
  padding-right: 20px;
}

#author a{
  color: rgb(2, 1, 1);
}

#author a:hover{
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.883);
}

#author {
  text-align: right;
}

/* footer {
  bottom: 0;
  right: 0;
  left: 0;
}*/

.footer p {
  font-size: 20px;
  color: gray;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(44, 42, 42, 0.123);
  color: white;
  text-align: center;
}

#basic_aphorism {
  margin-top: 160px;
  padding-right: 0px;
  padding-left: 0px;
}

#panel {
  opacity: 0.4;
}

#navbar {
  margin-bottom: 0;
}

div.navbar-header {
  text-transform: uppercase;
  font-family: 'Germania One', cursive;
}

input#search{
  font-family: 'Lobster', cursive;
  font-size: 21px;
}

button#search {
  font-family: 'Lobster', cursive;
  font-size: 14px;

}


h2#search_result {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
}

div.linkable:hover{
  background-color: rgba(175, 169, 169, 0.411);
  border-radius: 25px;
  /* opacity: 0.9; */
  /*display: inline-block;*/
}

.scroll{
  overflow:scroll; 
  height:560px;
  overflow-x:hidden;
  padding-right: 17px;  
}
